<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.min.css"   rel="stylesheet" />
    <link href="~/Content/Styles/Management.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
    <script src="~/scripts/jquery-1.9.1.min.js"></script>
    <script src="~/scripts/bootstrap.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand small-logo" style="padding-left:15px; padding-top: 8px;" href="#">
                    <img alt="Logo" src="~/Assets/Logos/current_main_logo_32x137px.png">
                </a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Пользователи", "Users", "Management")</li>
                    <li>@Html.ActionLink("Настройки", "Settings", "Management")</li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Управление контентом<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li class="dropdown-header">Материалы сайта</li>
                            <li>@Html.ActionLink("Новости", "News", "Management")</li>
                            <li>@Html.ActionLink("Статьи", "Notes", "Management") </li>
                            <li>@Html.ActionLink("Тарифы", "Tarifs", "Management")</li>
                            <li>@Html.ActionLink("Товары", "Products", "Management")</li>
                            <li class="dropdown-header">Модерируемый контент</li>
                            <li>@Html.ActionLink("Обращения абонентов", "Feedbacks", "Management")</li>
                        </ul>
                    </li>                    
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><p class="navbar-text">Вы вошли как</p> </li>
                    <li><a href="#">@User.Identity.Name</a></li>
                    <li class="active"><a href="/Management/Logout"/><span class="glyphicon glyphicon-log-out"></span>Выйти</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div>
        @RenderBody()
    </div>    
</body>
</html>
