
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Administration</title>
</head>
<body>
    <div>
        @Html.ActionLink("Пользователи", "Users")
        @Html.ActionLink("Новости", "News")
        @Html.ActionLink("Статьи", "Notes") 
        @Html.ActionLink("Тарифы", "Tarifs")
        @Html.ActionLink("Товары", "Products")
        @Html.ActionLink("Отзывы", "Feedbacks")
    </div>
</body>
</html>
