@model Roshalonline.Web.Models.NewsVM
@using Roshalonline.Data.Models

@{ 
    List<SelectListItem> allNewsTypes = new List<SelectListItem>();
    allNewsTypes.Add(new SelectListItem { Text = "Общая новость", Value = "Info" });
    allNewsTypes.Add(new SelectListItem { Text = "Акции: специальные предложения", Value = "Sales" });
    allNewsTypes.Add(new SelectListItem { Text = "Технические работы", Value = "Techincal" });
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/management.css" rel="stylesheet" />
    <title>Создать новость</title>
    <script src="~/scripts/jquery-1.9.1.min.js"></script>
    <script src="~/scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/ckeditor/ckeditor.js"></script>
</head>

<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand small-logo" href="#">
                    <img alt="Logo" src="~/Assets/Logos/current_main_logo_32x137px.png">
                </a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><p class="navbar-text">Вы вошли как</p> </li>
                    <li><a href="#">@User.Identity.Name</a></li>
                    <li class="active"><a href="/Management/Logout" /><span class="glyphicon glyphicon-log-out"></span>Выйти</li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar text-center">
                <ul class="nav nav-sidebar">
                    <li class="sub-header">Создать новость</li>
                </ul>
                <ul class="nav nav-sidebar">
                    <li class="active"><a href="javascript: submitForm();">Создать</a></li>
                    <li>@Html.ActionLink("Отмена", "News", "Management") </li>
                </ul>
                @*<ul class="nav nav-sidebar">
                    <li><a href="javascript: previewNews();">Превью новости</a></li></li>
                </ul>*@
            </div>
        </div>
    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        @using (Html.BeginForm("CreateNews", "Management", FormMethod.Post, new { @id = "formCreate" }))
        {
            @Html.EditorFor(n => n.Header, new { htmlAttributes = new { @class = "form-control input-sm", @placeholder = "Введите заголовок для вашей новости" } })
            @Html.EnumDropDownListFor(n => n.Type, new { @class = "selectpicker" }) //SELECT            
            @Html.TextAreaFor(n => n.Body, new { @id = "editor1", @name = "editor1" })
            <script>
                CKEDITOR.replace('editor1', {
                    filebrowserImageBrowseUrl: '/Management/UploadPartial',
                    filebrowserImageUploadUrl: '/Management/Upload'
                });

                function updateValue(id, value) {
                    var dialog = CKEDITOR.dialog.getCurrent();
                    dialog.setValueOf('info', 'txtUrl', value);
                }
            </script>
        }
    </div>
</body>
</html>
<script>
    function submitForm(){
        $('#formCreate').submit();
    }
</script>